.search_Res{
    padding: 10px 20px;
}

.search_Res:hover{
    background-color: #fefefe;
}
.result{
    cursor: pointer;
    padding-left: 10px;
}
.result:hover{
    background-color: #aaabad;
    
}